body {
  background: #161a30;
  font-family: sans-serif;
}

.todo {
  background: #eee;
  max-width: 450px;
  padding: 25px;
  border-radius: 10px;
  margin: 40px auto;
}

.todo h1 {
  text-align: center;
  margin: 20px 0px;
}

.todo-add {
  width: 100%;
  display: grid;
  grid-template-columns: 80% 20%;
}

.todo .todo-add input {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 18px;
  width: 90%;
  background: rgb(201, 201, 201);
}

.todo .todo-add button {
  border: none;
  outline: none;
  border-radius: 5px;
  background: #161a30;
  color: white;
  padding: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.todoitems {
  display: grid;
  grid-template-columns: 85% 15%;
  width: 100%;
}

.todo .paraghraph-box {
  display: flex;
}

.todo .paraghraph-box i {
  color: #161a30;
  margin: auto;
  font-size: 1.5rem;
  cursor: pointer;
}

p {
  min-width: 90%;
  font-size: 20px;
  margin-left: 15px;
  overflow-wrap: break-word;
}

.todo .icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo .icon-box i {
  color: #161a30;
  font-size: 1.5rem;
  cursor: pointer;
}

.line-through {
  text-decoration: line-through 2px solid #161a30;
}
